body {
    background-color: #252525;
    color: #ffffff;
    font-family: sans-serif;
}

a {
    color: #ffffff;
}

img {
    height: auto;
    width: 300px;
}

a:visited {
    color: #9f1;
}

.title {
    margin: 0px 25px 25px 25px;
    text-align: center;
    border: 1px solid white;
}


.image {
    margin-left: 25px;
}

.recipe-grid {
    margin: 0px 25px;
    border: 1px solid white;
}

.recipe-mini {
    margin: 5px 10px 5px 10px;
    padding: 5px;
    display: inline-block;
    border: 1px solid white;
}

.recipe-preview {
    height: 200px;
    width: a200px;
}

.recipe-name {
    display: block;
    text-align: center;
}