body {
    background-color: #252525;
    color: #ffffff;
    font-family: sans-serif;
}

a {
    color: #ffffff;
}

img {
    height: auto;
    width: 300px;
}

a:visited {
    color: #9f1;
}

.title {
    margin-left: 25px;
    margin-bottom: 25px;
    padding-left: 10px;
    border: white 1px solid;
}

.content {
    margin-left: 25px;
}

.image {
    margin-left: 25px;
}